.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8); */
  /* background-color: #2196F3; */
  padding: 20px 0 10px 0;
  /* font-size: 30px; */
  /* text-align: center; */
}

.fit-image img {
  /* height: 99999px; */
   object-fit:cover;
   /* object-position: 100% 0; */
   max-height: 100%;
   max-width: 100%;
   display: block;
   margin: auto auto;
   width: 400px;
   height: 300px;
}

.fit-image {
  width: 350px;
  height: 200px;
  /* margin: 0 auto; */
}

.city {
  font-size: 0.8rem;
  color: darkorange;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.city-name {
  margin-right: 10px;
}

.city-name:after {
  padding-left: 10px;
  content: '⚫';
}

.description {
  font-weight: bold;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

.beds {
  color: darkgray;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

.price {
  margin-right: 10px;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8); */
  /* background-color: #2196F3; */
  padding: 20px 0 10px 0;
  /* font-size: 30px; */
  /* text-align: center; */
}

.fit-image img {
  /* height: 99999px; */
   object-fit:cover;
   /* object-position: 100% 0; */
   max-height: 100%;
   max-width: 100%;
   display: block;
   margin: auto auto;
   width: 400px;
   height: 300px;
}

.fit-image {
  width: 350px;
  height: 200px;
  /* margin: 0 auto; */
}

.city {
  font-size: 0.8rem;
  color: darkorange;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.city-name {
  margin-right: 10px;
}

.city-name:after {
  padding-left: 10px;
  content: '⚫';
}

.description {
  font-weight: bold;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
}

.beds {
  color: darkgray;
  font-size: 0.7rem;
  font-family: 'Open Sans', sans-serif;
}

.price {
  margin-right: 10px;
}
